/* Основной контейнер для страницы */
.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

/* Стили для фильтров справа */
.filters {
  width: 30%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стили для списка пользователей слева */
.users-list {
  width: 65%;
}

/* Стили для текста */
h2 {
  color: #333;
}

/* Стили для полей ввода */
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

/* Устанавливаем одинаковую высоту для всех полей */
input[type="number"]:focus,
select:focus {
  border-color: #4CAF50;
  outline: none;
}
input[type="text"]:focus,
select:focus {
  border-color: #4CAF50;
  outline: none;
}

/* Кнопка фильтра */
button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Стили для списка пользователей */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: #f9f9f9;
}
